
@model ArtistsHub.Models.ArtFormDto
@{
    ViewBag.Title = "Details";
}
<h4><a href="/artform/list">Go back to list</a></h4>
<h2>Details</h2>

<h3>@Model.ArtFormName</h3>
<p>Discipline Name :  @Model.DisciplineName</p>
