@model IEnumerable<ArtistsHub.Models.ArtFormDto>
@{ 
    ViewBag.Title = "List";
}
<h5><a href="/ArtForm/New">Add new Art forms</a></h5>
<h2>List of Art Forms</h2>

<ul>
    @foreach (var artform in Model)
    {
        <li><a href="/ArtForm/Details/@artform.ArtFormID">@artform.ArtFormName</a></li>
    }
</ul>
