@model IEnumerable<ArtistsHub.Models.ArtFormDto>
@{ 
    ViewBag.Title = "List";
}
<div class="secNav">
    <h2>Available Art Forms</h2>
    <a href="/Artform/New"><i class="fas fa-plus icon"></i> &nbsp; New Art form</a>
</div>

<ul>
    @foreach (var artform in Model)
    {
        <li class="list"><a href="/ArtForm/Details/@artform.ArtFormID">@artform.ArtFormName</a></li>
    }
</ul>
