@model ArtistsHub.Models.ViewModel.UpdateArtForm
@{
    ViewBag.Title = "Update";
}
<div class="secNav">
    <a href="/artform/details/@Model.SelectedArtForm.ArtFormID"> <i class="fas fa-arrow-left icon"></i>  &nbsp;  Details</a>
</div>


<form action="/ArtForm/edit/@Model.SelectedArtForm.ArtFormID" method="POST">
    <div class="form-group">
        <label for="ArtFormName">Art Form Name</label> 
        <input type="text" class="form-control"name="ArtFormName" value="@Model.SelectedArtForm.ArtFormName" />
    </div> 
    <div class="form-group">
        <label for="DisciplineID">Discipline Name</label>
        <select name="DisciplineID" class="form-control">
            @foreach(var discipline in Model.DisciplinesOptions)
            {
                string selected = "";
                if (discipline.DisciplineID == Model.SelectedArtForm.DisciplineId)
                {
                    selected = "selected";
                }
                <option value="@discipline.DisciplineID" @selected>@discipline.DisciplineName</option>
            }
        </select>
    </div>
    <input type="submit" class="btn btn-primary" value="Update Art Form" />
</form>

