
@model ArtistsHub.Models.ViewModel.DetailDiscipline
@{
    ViewBag.Title = "Details";
}
<div class="secNav">
    <div>
        <a href="/discipline/list"><i class="fas fa-arrow-left icon"></i>  &nbsp; Discipline</a>
    </div>
    <div>
        <a href="/discipline/update/@Model.SelectedDiscipline.DisciplineID"> <i class="fas fa-pen icon"></i>&nbsp; Update</a>

        <a href="/discipline/deleteConfirmation/@Model.SelectedDiscipline.DisciplineID"><i class="fas fa-trash icon"></i> &nbsp;Delete</a>
    </div>
</div>

<h2 class="hidden">Details</h2>

<h3>@Model.SelectedDiscipline.DisciplineName</h3>
<p><span class="bold">Discipline Description :</span>  @Model.SelectedDiscipline.DisciplineDescription</p>
<h2>Related ArtForms</h2>
<ul>
    @foreach (var artform in Model.RelatedArtForm)
    {
    <li class="list"><a href="/artForm/details/@artform.ArtFormID">@artform.ArtFormName</a></li>
    }
</ul>