@model IEnumerable<ArtistsHub.Models.DisciplineDto>

@{
    ViewBag.Title = "List";
}
<div class="secNav">
    <h2>List of Disciplines</h2>
    <h5><a href="/Discipline/New"> <i class="fas fa-plus icon"></i> &nbsp; New Discipline</a></h5>
</div>
<ul>
    @foreach (var discipline in Model)
    {
        <li class="list"><a href="/discipline/Details/@discipline.DisciplineID">@discipline.DisciplineName</a></li>
    }
</ul>