@model IEnumerable<ArtistsHub.Models.DisciplineDto>

@{
    ViewBag.Title = "List";
}
<h5><a href="/Discipline/New">Add new Discipline</a></h5>
<h2>List of Categories</h2>
<ul>
    @foreach (var discipline in Model)
    {
        <li><a href="/discipline/Details/@discipline.DisciplineID">@discipline.DisciplineName</a></li>
    }
</ul>