@model ArtistsHub.Models.DisciplineDto
@{
    ViewBag.Title = "Update";
}
<div class="secNav">
    <a href="/discipline/details/@Model.DisciplineID"> <i class="fas fa-arrow-left icon"></i>  &nbsp;  Details</a>
</div>
<h2 class="hidden">Update</h2>

<form action="/Discipline/Edit/@Model.DisciplineID" method="POST">
    <div class="form-group">
        <label for="DisciplineName">Discipline Name</label> 
        <input type="text" class="form-control" name="DisciplineName" value="@Model.DisciplineName"/>
    </div>
    <div class="form-group">
        <label>Discipline Descriptiom</label> 
        <input type="text" name="DisciplineDescription" class="form-control"value="@Model.DisciplineDescription" />
    </div>
        <input type="submit" value="Update" class="btn btn-primary"/>
</form>
