@model ArtistsHub.Models.DisciplineDto
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

<form action="/Discipline/Edit/@Model.DisciplineID" method="POST">
    <div>
        <label>Art Form Name:</label> <input type="text" name="DisciplineName" value="@Model.DisciplineName"/>
    </div>
    <div>
        <label>Discipline Descriptiom</label> <input type="text" name="DisciplineDescription" value="@Model.DisciplineDescription" />
    </div>

    <div style="padding:1em;">
        <input type="submit" value="Update" />

    </div>
</form>
