
@{
    ViewBag.Title = "New";
}

<h2>Create a Artist</h2>
<form action="/Artist/Create" method="POST">
    <div class="row">
        <div class="col-md-4 margin">
            <label for="ArtistFirstName">Artist First Name</label>
            <input type="text" class="form-control" name="ArtistFirstName" />
        </div>
        <div class="col-md-4 margin">
            <label for="ArtistlastName">Artist Last Name</label>
            <input type="text" name="ArtistLastName" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 margin">
            <label for="ArtistOccupation">Artist Occupation</label>
            <input type="text" name="ArtistOccupation" class="form-control"  />
        </div>
        <div class="col-md-4 margin">
            <label for="ArtistPhoneNumber">Artist Phone No.</label>
            <input type="text" name="ArtistPhoneNumber" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 margin">
            <label for="ArtistEmail">Artist Email:</label>
            <input type="email" name="ArtistEmail" class="form-control" />
        </div>
        <div class="col-md-4 margin">
            <label for="ArtistDescription">Artist Description:</label>
            <input type="text" name="ArtistDescription" class="form-control" />
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Add an Artist</button>
        </div>
    </div>
</form>

