@{
    ViewBag.Title = "Home Page";
}

<div class="row banner-image">
    <div class="col-md-12 ">
        <img src="~/Content/Images/painting.jpg" />
        <div class="banner-text">
            <h2>Join Us</h2>
            <h3>
                We provide a platform for artists to introduce their art and connect with art lovers as well as showcase their talent.
            </h3>
            <p><a href="/artist/New" class="btn btn-success">Enroll as Artist</a></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Artists</h2>
        <p>Discover and connect with the artist.<br />Artist may excel into different-different artforms.</p>
        <p><a class="btn btn-default" href="/artist/list">View more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Art Forms</h2>
        <p>Different artforms are available as well as if the artform you excel is not included you can add it.</p>
        <p><a class="btn btn-default" href="/artform/list">View more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Disciplines </h2>
        <p>All the artforms are divided into different disciplines.</p>
        <p><a class="btn btn-default" href="/discipline/list">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 ">
        <div class="about-us">
            <h2>About Us</h2>
            <p>
                We feature artists from different parts of canada and we welcome artists working in any medium.
                This platform is built for artist, here artist does not only include professional
                artists but anybody who excels or is passionate about any of the art forms.
                Artist Hub facilitates and focuses on visibility for artists. We provide support, shine a light on your talent and showcase your art.
                Simple and to the point.

            </p>
        </div>
    </div>
</div>
